* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}
p, input, label, span, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Roboto', sans-serif;			
    padding-bottom: 12px;
}