<template>
    <div class="filters" id="filter">
        <input type="checkbox" class="checkbox" id="check1">
        <label for="check1">Checkbox</label>

        <input type="checkbox" class="checkbox" id="check2" disabled>
        <label for="check2">Checkbox disabled</label>

        <input type="text"  id="swith1" v-model="valueFilter"> 
		<p>{{valueFilter}}</p>
        <!-- <label for="swith1">class="swith"</label> -->
    </div>    
</template>


<script>
export default {
	name: 'filter',
	data() {
		return {
			valueFilter: ''
		}
	},
	methods: {
		changeFilter() {
			this.$emit('changeFilter', this.valueFilter)
		}
	}
}
</script>



<style lang="scss">
	.filters {
		width: calc(20% - 15px);
		background-color: #d6d6d6b3;
		padding: 20px;
	}
	.checkbox, .swith {
		position: absolute;
		top: -999px;
		left: -999px;
		visibility: hidden;
		display: block;
	}
	.checkbox + label {
		position: relative;
		padding-left: 30px;
		line-height: 20px;
		font-size: 16px;
		color: rgb(109, 110, 118);
		font-weight: bold;
		line-height: 20px;
		display: block;
		cursor: pointer;
	}
	.checkbox + label:before {
		content: " ";
		width: 20px;
		height: 20px;
		background-color: white;
		border: 3px solid #5a9aa8;	
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		box-sizing: border-box;
	}
	.checkbox:checked + label:before {
		background-image: url('../assets/img/check.png');
		background-size: 12px 12px;
		background-position: top right;
		background-repeat: no-repeat;
	}
	.checkbox[disabled] + label:before {
		content: " ";
		width: 20px;
		height: 20px;
		background-color: white;
		border: 3px solid #6d6e76;
		background-image: url('../assets/img/check-disabed.png');
		background-size: 12px 12px;
		background-position: top right;
		background-repeat: no-repeat;
	}
	.swith + label {
		position: relative;
		display: block;
		background-color: white;
		width: 68px;
		height: 27px;
		border-radius: 27px;
		line-height: 27px;
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		cursor: pointer;
	}
	.swith + label:before {
		content: " ";
		position: absolute;
		border-radius: 20px;
		width: 20px;
		height: 20px;
		background-color: #6d6e76;
		top: 3.3px;
		left: 5px;
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}
	.swith:checked + label {
		background-color: #5a9aa8;

	}
	.swith:checked + label:before {
		background-color: #fff;
		left: 43px;
	}
</style>