<template>
    <header id="header">
        <div class="nav">
            <!-- <a v-for="nav in navigation" :href="nav.link">{{ nav.name }}</a> -->
            <router-link to="/products">products</router-link>
        </div>
    </header>       
</template>

<script>
export default {
    name: 'header',
    data() {
        return {
            navigation: [
                {
                    name: 'navigation1',
                    link: 'google.com'
                },
                {
                    name: 'navigation2',
                    link: 'google.com.ua'
                }
            ]
        }
    }
}
</script>

<style lang="scss">
    header {
        width: 100%;
        padding: 40px 0;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);   
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

</style>