<template>
    <div class="products" id="products">
        <p>{{ message }}</p>
        <p>{{ text }}</p>
        <input type="checkbox" class="swith" id="memory32" value="32" v-model="checkFilter">
        <label for="memory32"></label>
        <br>
        <div class="item" v-for="(product, memory) in memoryProduct(products)">
            <h3>{{ product.name }}</h3>
            <p class="price">Price: {{ product.price }}</p>
            <p class="color">Color: {{ product.color }}</p>          
            <p class="memory">Memory: {{ product.memory }}</p>  
        </div>
    </div>
</template>

<script>
    export default {
        name: 'products',
        props: ['text'],
        data() {
            return {
                message: '',
                checkFilter: [],
                products: [
                    {
                        name: 'iPhone 6',
                        price: 600,
                        color: 'space gray',
                        memory: 32
                    },
                    {
                        name: 'iPhone 6',
                        price: 600,
                        color: 'silver',
                        memory: 64
                    },
                    {
                        name: 'iPhone 7',
                        price: 800,
                        color: 'gold',
                        memory: 32
                    },
                    {
                        name: 'iPhone 7',
                        price: 600,
                        color: 'space gray',
                        memory: 128
                    }
                ]
            }
        },
        methods: {
            memoryProduct: function (products) {
                // console.log(products, this.checkFilter);
                if (!this.checkFilter[0]) return products;  
                var memoryFilter = this.checkFilter[0];
                return products.filter(function (product) {
                    return product.memory == memoryFilter;
                })
            },
            changeMessage(event) {
                this.message = event.target.value;
                this.$emit('changeTitle', this.message);
            }
        }
    }
</script>

<style lang="scss">
    .products {
        width: calc(80% - 15px);

        .item {
            width: calc(33.3333% - 13.3333px);
            margin: 0 0 20px 0;
            border: 1px solid gray;
            padding: 15px;
        }
    }   
</style>