<template>
    <div class="wrap">
      <vue-filters @changeFilter="filter = $event"></vue-filters>
      <vue-products :text="filter"></vue-products>
      <p>{{ filter }}</p>
      <br>
        <input type="checkbox" class="swith" id="test1" value="64" v-model="changeCheckbox">
        <label for="test1"></label>
    </div>
</template>

<<script>
export default {
  data () {
      return {
          filter: '128'
      }
  },
  methods: {
      changeCheckbox() {
          this.filters = 64;
      }
  }
}
</script>

<style lang="scss">
    .wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 100px;
    }
</style>
