<template>
  <div id="app">
    <vue-header></vue-header>
      <router-view></router-view>
    <!--<vue-footer></vue-footer>-->
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      
    }
  }
}
</script>

<style src="./sass/base.scss" lang="scss"></style>
<style lang="scss">
    
</style>
